# currntly, only 1 replica is supported
replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

wireguard:

  configSecretName: wireguard-config

  # The IP address of the WireGuard server inside the VPN network. Used for the liveness and readiness probes.
  serverVpnIp: ""

  image:
    pullPolicy: IfNotPresent
    repository: linuxserver/wireguard
    tag: 1.0.20250521-r1-ls102

  resources: {}

  containerSecurityContext:
    runAsNonRoot: false
    allowPrivilegeEscalation: false
    capabilities:
      add:
        - NET_ADMIN

  livenessProbe:
    timeoutSeconds: 1
    initialDelaySeconds: 5
    periodSeconds: 3
    failureThreshold: 5

  readinessProbe:
    timeoutSeconds: 1
    initialDelaySeconds: 5
    periodSeconds: 3
    failureThreshold: 5



haproxy:

  configMapName: haproxy-config

  image:
    pullPolicy: IfNotPresent
    repository: haproxy
    tag: 3.3.2

  resoures: {}

  containerSecurityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    runAsUser: 99
    runAsGroup: 99


podAnnotations: {}

podLabels: {}

podSecurityContext:
  runAsNonRoot: true

nodeSelector: {}

tolerations: []

affinity: {}
